<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/PDillis/pdillis.github.io/blob/master/_data/Resume_Academic_DiegoPorres.pdf" class="btn" target="_blank">CV/Resume</a>
  <a href="https://github.com/PDillis/" class="btn" target="_blank">GitHub</a>
  <a href="https://scholar.google.com/citations?user=Xuv3WuIAAAAJ">Google Scholar</a>
  <a href="https://www.linkedin.com/in/diego-porres/" class="btn" target="_blank">LinkedIn</a>
</section>
